.navBarLogo a{
    width: 80%;
    height: 40px;
    padding: 20px 10%;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.navBarLogo img {

    height: 100%;

    margin-right: 10px;
}



.navBarUser {
    width: 100%;
    height: 200px;
}

.navBarUserimg {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
}

.navBarUserimg img {    /* 이미지를 박스의 맞게 조절함 */
    width: 100%;
    height: 100%;
}