.postBox {
    width: 600px;
    height: auto;

    border: solid 3px #daa520;
    border-radius: 20px;    /* 모서리 동글 */
    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
}

.post_write {
    color: #cccccc;
    padding-bottom: 20px;
    border-bottom: solid 1px #daa520;
    font-weight: bold; /* 굵게 */
}
.post_title {
    color: #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #daa520;
}

.post_img img{ /* jsp 에서 수정해야 제대로 완성됨 */
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 12px;
}
.post_content {
    width: 100%;
    height: auto;

    color: #cccccc;
    border-top: solid 1px #daa520;
    padding-top: 10px;
    padding-bottom: 20px;
}
.comment_write{
    margin-top: 30px;
}
.comment_write textarea{
    width:90%;
    height: 65px;
    resize: none;
}
.comment_write input{
    height: 65px;
    vertical-align: top;

}