.writeBox{
}
.writeBox .writeZone {
    width: 100%;
    height: 36px;

    color: white;

    border: solid 3px #daa520;
    border-radius: 12px;

    padding: 0 6px;
    background-color: black;
}
.writeBox textarea{
    width: 100%;
    height: 70%;
    resize: none;
    color: white;

    border: solid 3px #daa520;
    border-radius: 12px;

    padding: 6px;
    background-color: black;
}
.writeButton{
    width: 100%;
    margin-top: 15px;
    height: 30px;
}
.imageZone{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.imageAddButton{
    height: 50px;
    margin-right: 10px;
}
.board_image_file{
    display: flex;
    flex-direction: column;
}