.box {
    width: 750px;
    border: solid 5px #daa520;
    border-radius: 12px;
    margin: auto;
}

.box .name {
    font-size: 32px;
    font-weight: bold;
    text-align: center;

}
.box .main {
    display: flex;
    flex-direction: row;
}
.box .main img {
    width: 300px;
    height: 300px;
}
.box .main .content {
    color: #daa520;
    font-size: 28px;
}
.box .main .content a {

    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    color: #000000;
    background-color: #daa520;
}
.box .main .content a:hover {
    background-color: #b07f00;
}