#search {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
}
#search:hover {
    width: auto;
}
#search form {      /* 검색창 전체 */
    display: inline-flex;
    border: none;
    /* box-shadow: 0 0 15px #555555; */
    transition: all ease 0.3s;
}
#search form:hover {
    border: 2px solid #daa520;
    background-color: #0a0a0a;
    border-radius: 10px;
}
#search .selectBox {
    color: #555555;
    border-radius: 7px 0 0 7px; /* 왼쪽 위 오른쪽 아래 */
    border-right: 0px solid #333333;
    padding: 0px;
    margin: 0px;
    background-color: #0a0a0a;
}
#search .selectBox select { /* .selectList */
    color: #daa520;
    font-size: 1.5em;
    border: none;
    border-radius: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 22px 70px 0px 30px;
    width: 100%;
    position: relative;
    top: 3px;
    background-color: #0a0a0a;
}
#search .selectBox:hover select {
    /* color: gold; */    /* ffd700 */
}
#search .selectBox i {  /* ▽버튼 */
    color: #daa520;
    position: relative;
    left: 150px;
    bottom: 25px;
    transition: all ease 0.5s;
    font-size: 2em;
}
#search .selectBox:hover i {
    /* transform: rotate(-180deg); */
    color: #ffd700;
}
#search button {
    background-color: #daa520;
    padding: 20px;
    margin: 0px;
    border: none;

    transition: all 0.3s;
}
#search button:hover {
    /* box-shadow: 0 0 10px #50c058 inset; */
    border-radius: 0 7px 7px 0;
    background-color: #ca9510;
    cursor: pointer;
}
#search button i {
    font-size: 3em;
    color: #fff;
    padding: 0px 0px 0px 3px;
}
#search input {     /* 검색창 */
    color: #daa520;
    width: 50vw;
    font-size: 1.5em;
    border: none;
    padding: 20px;
    background-color: #0a0a0a;
}
select:focus {  /* 클릭했을때 */
    outline: none; /* 클릭햇을 시 기본적으로 outline가 생성됨으로 제거해야함 */
}
input:focus {
    outline: none;
}
button:focus {
    outline: none;
}
